#
# Uncomment the redis service when deploying to production.
#

version: '3'
services:
  server:
    build: ./server
    ports:
      - "8000:8000"
    # depends_on:
    #   - redis
    # environment:
      # - REDIS_URL=redis://redis:6379 # PROD: added it
    env_file:
      - ./server/.env
    environment:
      REDIS_URL: redis://host.docker.internal:6379  # PROD: change / delete this
    # volumes:
      # - ./server:/app # PROD: DELETE IT

  client:
    build: ./client
    ports:
      - "3000:3000"
    # PROD: change it to http://server:8000
    environment: 
      - NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
    volumes:
      - ./client:/app
      - /app/node_modules

  # redis:
  #   image: redis:7
  #   ports:
  #     - "6379:6379"
